<div>
  <form #addForm="ngForm" class="k-form-inline">
    <table style="width:100%">
      <tr>
        <th>姓名</th>
        <td>
          <input kendoTextBox id="name" [(ngModel)]="addData.name" name="name" required #name="ngModel">
          <span [hidden]="name.valid || name.untouched" class="k-required">
            必填
          </span>
        </td>
        <th>學號</th>
        <td>
          <kendo-maskedtextbox type="number" id="id" [(ngModel)]="addData.id" name="id" [mask]="'00000'" #id="ngModel" required></kendo-maskedtextbox>
          <span [hidden]="id.valid || id.untouched" class="k-required">
            必填
          </span>
        </td>
      </tr>
      <tr>
        <th>性別</th>
        <td>
          <input type="radio" id="addDataGenderM" name="addDataGender" [(ngModel)]="addData.gender" class="k-radio" value="M" #addDataGender="ngModel" required/>
          <label class="k-radio-label" for="addDataGenderM">男</label>
          <input type="radio" id="addDataGenderF" name="addDataGender" [(ngModel)]="addData.gender" class="k-radio" value="F" />
          <label class="k-radio-label" for="addDataGenderF">女</label>
          <span [hidden]="addDataGender.valid || addDataGender.untouched" class="k-required">
            必填
          </span>
        </td>
        <th>生日</th>
        <td>
          <kendo-datepicker id="birth" [(ngModel)]="addData.birth" name="birth" [format]="'yyyy/MM/dd'" #birth="ngModel" required></kendo-datepicker>
          <span [hidden]="birth.valid || birth.untouched" class="k-required">
            必填
          </span>
        </td>
      </tr>
      <tr>
        <th>年級</th>
        <td>
          <kendo-dropdownlist id="grade" [(ngModel)]="addData.grade" name="grade" [data]="gradeList" [defaultItem]="defaultgradeList"
            [textField]="'gradeName'" [valueField]="'grade'" (valueChange)="changeGrade($event)" #grade="ngModel" required>
          </kendo-dropdownlist>
          <span [hidden]="grade.valid || grade.untouched" class="k-required">
            必填
          </span>
        </td>
        <th>科系</th>
        <td>
          <kendo-dropdownlist id="deptId" [(ngModel)]="addData.deptId" name="deptId" [data]="deptList"
            [defaultItem]="defaultDepteList" [textField]="'deptName'" #deptId="ngModel" required
            [valueField]="'deptId'" (valueChange)="changeDept($event)">
          </kendo-dropdownlist>
          <span [hidden]="deptId.valid || deptId.untouched" class="k-required">
            必填
          </span>
        </td>
      </tr>
      <tr>
        <th>身高</th>
        <td>
          <kendo-numerictextbox [(ngModel)]="addData.height" id="height" name="height" [spinners]="false"
            [min]="0.00" [step]="10"  [format]="'0.00 cm'" #height="ngModel" required></kendo-numerictextbox>
          <span [hidden]="height.valid || height.untouched" class="k-required">
            必填
          </span>
        </td>
        <th>體重</th>
        <td>
          <kendo-numerictextbox [(ngModel)]="addData.weight" id="weight" name="weight" [spinners]="false"
            [min]="0.00" [step]="10"  [format]="'0.00 kg'" #weight="ngModel" required></kendo-numerictextbox>
          <span [hidden]="weight.valid || weight.untouched" class="k-required">
            必填
          </span>
        </td>
      </tr>
    </table>
    <div class="text-right">
        <button type="button" class="k-button" (click)="close()">取消</button>
        <button type="submit" class="k-button k-primary" (click)="saveData(addForm)" >送出</button>
    </div>
  </form>
</div>