<div>
    <span class="k-icon k-i-twitter"></span>
  <form #searchForm="ngForm" (ngSubmit)="onSubmit()">
      {{diagnostic}}
    <table style="width:100%">
      <tr>
        <th>姓名</th>
        <td>
          <input kendoTextBox id="name" [(ngModel)]="queryModel.name" name="name" required  #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
     class="alert alert-danger">
  Name is required
</div>
        </td>
        <th>性別</th>
        <td>
            <input type="radio" id="sexM" [(ngModel)]="queryModel.sex" name="sex" class="k-radio" checked />
            <label class="k-radio-label" for="sexM">男</label><br />
            <input type="radio" id="sexF" [(ngModel)]="queryModel.sex" name="sex" class="k-radio" checked />
            <label class="k-radio-label" for="sexF">女</label>
        </td>
      </tr>
      <tr>
        <th>學號</th>
        <td>
          <input type="number" id="id" [(ngModel)]="queryModel.id" name="id">
        </td>
        <th>生日</th>
        <td>
            <kendo-datepicker id="birthSt" [(ngModel)]="queryModel.birthSt" name="birthSt"
                  [format]="'yyyy/MM/dd'"
                  [value]="value"
              ></kendo-datepicker>~
              <kendo-datepicker id="birthEnd" [(ngModel)]="queryModel.birthEnd" name="birthEnd"
                  [format]="'yyyy/MM/dd'"
                  [value]="value"
              ></kendo-datepicker>
        </td>
      </tr>
      <tr>
        <th>科系</th>
        <td>
            <kendo-multiselect id="dept"  [(ngModel)]="queryModel.dept" name="dept" 
            [data]="deptList" [textField]="'deptName'" [valueField]="'deptId'"  
            [placeholder]="'Your favorite sports'"></kendo-multiselect>
        </td>
        <th>年級</th>
        <td>
            <kendo-dropdownlist  id="grade"  [(ngModel)]="queryModel.grade" name="grade" 
            [data]="gradeList" [defaultItem]="defaultgradeList" [textField]="'gradeName'" [valueField]="'grade'">
              </kendo-dropdownlist >
        </td>
      </tr>
    </table>
  </form>
  <div id="btns">
    <button kendoButton type="submit" [primary]="true" >查詢</button>
    <button kendoButton (click)="searchForm.reset()" >清除</button>
    <button kendoButton (click)="onButtonClick()" [primary]="true">新增</button>
  </div>
  <div id="grid">
      <kendo-grid [data]="gridData" [height]="410">
          <kendo-grid-column field="ProductID" title="ID" width="40">
          </kendo-grid-column>
          <kendo-grid-column field="ProductName" title="Name" width="250">
          </kendo-grid-column>
          <kendo-grid-column field="Category.CategoryName" title="Category">
          </kendo-grid-column>
          <kendo-grid-column field="UnitPrice" title="Price" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
          </kendo-grid-column>
          <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
              <ng-template kendoGridCellTemplate let-dataItem>
                  <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
              </ng-template>
          </kendo-grid-column>
      </kendo-grid>
  </div>
</div>