<div style="width:90%;margin:0px auto;">
    <br>
    <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
        <table style="width:100%">
            <tr>
                <th>姓名</th>
                <td>
                    <input kendoTextBox id="name" [(ngModel)]="queryModel.name" name="name">
                </td>
                <th>性別</th>
                <td>
                    <input type="radio" id="genderM" name="gender" [(ngModel)]="queryModel.gender" class="k-radio" value="M" />
                    <label class="k-radio-label" for="genderM">男</label>
                    <input type="radio" id="genderF" name="gender" [(ngModel)]="queryModel.gender" class="k-radio" value="F" />
                    <label class="k-radio-label" for="genderF">女</label>
                </td>
            </tr>
            <tr>
                <th>學號</th>
                <td>
                    <kendo-maskedtextbox type="number" id="id" [(ngModel)]="queryModel.id" name="id" [mask]="'00000'" ></kendo-maskedtextbox>
                </td>
                <th>生日</th>
                <td>
                    <kendo-datepicker id="birthSt" [(ngModel)]="queryModel.birthSt" name="birthSt" [format]="'yyyy/MM/dd'" [max]="queryModel.birthEnd"></kendo-datepicker>~
                    <kendo-datepicker id="birthEnd" [(ngModel)]="queryModel.birthEnd" name="birthEnd" [format]="'yyyy/MM/dd'" [min]="queryModel.birthSt"></kendo-datepicker>
                </td>
            </tr>
            <tr>
                <th>科系</th>
                <td>
                    <kendo-multiselect id="dept" [(ngModel)]="queryModel.dept" name="dept" [data]="deptList" [textField]="'deptName'" [valueField]="'deptId'"
                        (valueChange)="changeDept($event)" [placeholder]="'請選擇科系'"></kendo-multiselect>
                </td>
                <th>年級</th>
                <td>
                    <kendo-dropdownlist id="grade" [(ngModel)]="queryModel.grade" name="grade" [data]="gradeList" [defaultItem]="defaultgradeList"
                        [textField]="'gradeName'" [valueField]="'grade'" (valueChange)="changeGrade($event)">
                    </kendo-dropdownlist>
                </td>
            </tr>
        </table>
        <div id="btns">
            <button kendoButton type="submit" [primary]="true" [icon]="'search'">查詢</button>
            <button kendoButton (click)="searchForm.resetForm()" [icon]="'delete'">清除</button>
            <button kendoButton (click)="open('window')" [primary]="true" [icon]="'plus'">新增</button>
        </div>
    </form>
    <br>
    <div id="grid">
        <kendo-grid [data]="gridData" [height]="410" >
            <kendo-grid-column field="name" title="姓名" width="200">
            </kendo-grid-column>
            <kendo-grid-column field="id" title="學號" width="100">
            </kendo-grid-column>
            <kendo-grid-column field="gender" title="性別" width="50">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.gender | gender}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="gradeName" title="年級" width="100">
            </kendo-grid-column>
            <kendo-grid-column field="deptName" title="科系" width="200">
            </kendo-grid-column>
            <kendo-grid-column field="birth" title="生日" width="150">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.birth | date: 'yyyy/MM/dd'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="height" title="身高" width="100">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{(dataItem.height | number:'0.2-2')+' cm'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="weight" title="體重" width="100">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{(dataItem.weight | number:'0.2-2')+' kg'}}
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
    <kendo-window title="新增" [minWidth]="800" [minHeight]="600" *ngIf="windowOpened" (close)="close('window')">
        <add-content (save)="addData($event)" (closeWindow)="close('window')"></add-content>
    </kendo-window>
    <kendo-dialog title="訊息"  *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="250" [width]="450" style="z-index:99999">
        <p style="margin: 30px; text-align: center;">{{addResultMsg}}</p>
        <kendo-dialog-actions>
            <button kendoButton (click)="close('dialog')">確定</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>